{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<body style="background-color:#282A3A;">
    <div class="home_disp">
        <div class="home_data" style="display:inline-block;color:white;width:28%">
            <h1 class="home_title" style="font-size:xx-large; font-weight:bold;">Hi, I'm David Sugai</h1>
            <h3 class="home_subtitle" style="font-size:x-large; font-weight:normal;">B.S. Computer Science</h3>
            <p class="home_desc" style="font-size:small; font-weight:lighter;">Recent graduate of Michigan State University currently seeking full time positions.</p>
        </div>
        <div class="home_img" style="display:inline-block;width:70%">
            <?xml version="1.0" standalone="no"?>
            <svg class="home_blob" viewBox="55 12 200 200" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0" mask-type="alpha">
                    <path fill="#D0E2FF" d="M29.9,18C17.2,39.2,-29.4,41.5,-40.1,21.5C-50.7,1.5,-25.3,-41,-2,-42.2C21.3,-43.3,42.5,-3.3,29.9,18Z" transform="translate(100 100)"/>
                </mask>
                <g mask="url(#mask0)">
                    <path fill="#D0E2FF" d="M29.9,18C17.2,39.2,-29.4,41.5,-40.1,21.5C-50.7,1.5,-25.3,-41,-2,-42.2C21.3,-43.3,42.5,-3.3,29.9,18Z" transform="translate(100 100)"/>
                    <image class="home_img" style="width:80px" x='27%' y="25%" xlink:href="../static/images/profile.png"></image>
                </g>
            </svg>
        </div>
    </div>
</body>
{% endblock %}